/* Contenedor del Slideshow */
.background-slideshow-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1; /* Asegura que el slideshow esté detrás del contenido */
  }
  
  /* Cada Slide de Fondo */
  .background-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  /* Slide Activo */
  .background-slide.active {
    opacity: 1;
  }

html.dark section.section,
.html.dark section.section {
  background-color: #F4F4F4;
}

html.dark section.section,
.html.dark section.section {
  background-color: #F4F4F4;
}

html.main,
html.main {
  background-color: #F4F4F4;
}


/* custom.css */

/* 1. Establecer el color de fondo y eliminar la imagen de fondo */
.custom-background-section {
  background-color: #F4F4F4 !important; /* Color de fondo deseado */
  background-image: none !important;    /* Eliminar la imagen de fondo */
  background-size: cover !important;    /* Asegurar que el tamaño de fondo cubra la sección */
  background-position: center !important; /* Posición central del fondo */
}

/* 2. Actualizar el color de las letras dentro de la sección */
.custom-background-section,
.custom-background-section * {
  color: #625548 !important; /* Color de texto deseado */
}

/* 3. Ajustar enlaces y otros elementos de texto si es necesario */
.custom-background-section a {
  color: #625548 !important; /* Color de enlaces */
}

.custom-background-section a:hover,
.custom-background-section a:focus {
  color: #4b433e !important; /* Color de enlaces al pasar el cursor */
}

/* 4. Ajustar otros elementos específicos dentro de la sección si es necesario */
.custom-background-section .icon-animated {
  filter: invert(0) !important; /* Asegurar que los íconos se muestren correctamente sobre el nuevo fondo */
}

.overlay-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(69, 66, 63, 0.5); /* Color marrón con opacidad */
  z-index: 1;
}

/* Asegurar que el contenido esté por encima del overlay */
.overlay-content {
  position: relative;
  z-index: 2;
}